<div class="index-screen">
  <div class="sidebar">
    {{#ui-sidebar}}

      {{ui-sidebar/account}}

      {{#ui-sidebar/section title='Klienti'}}
        {{ui-sidebar/section/item icon='camera' title='Gaida rindā' active=true}}
        {{ui-sidebar/section/item icon='bath' title='Apstrādātie'}}
      {{/ui-sidebar/section}}

      {{#ui-sidebar/section title='Settings'}}
        {{ui-sidebar/section/item icon='thermometer-empty' title='Account'}}
        {{ui-sidebar/section/item title='Users'}}
      {{/ui-sidebar/section}}

    {{/ui-sidebar}}
  </div>
  <div class="content">

    {{#ui-screen as |screen|}}
      {{#screen.header as |header|}}
        {{header.title value='Add new customer'}}
        {{header.button title='Save'}}
        {{header.button title='Cancel' class='warning'}}
      {{/screen.header}}
      {{#screen.content}}
        {{l 'hello'}}
      {{/screen.content}}
    {{/ui-screen}}

  </div>
</div>
